body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1 {
    font-size: 50px;
}

.peter {
    color: orange;
}

.flex {
    display: flex;

}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 85%;
}

.half-width p {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(salmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;


}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.box-shadow {
    box-shadow: 10px 10px 40px gray;
    margin-bottom: 200px;
    width: 50%;
    padding-left: 50px;
    padding-right: 20px;
    margin-left: 5%;
    margin-right: 2%;
    padding-bottom: 50px;
    border-radius: 10px;

}

h2 {
    font-size: 35px;
}

.New-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#color-yellow {
    border-left: 7px solid salmon;
}

#blue {
    border-left: 7px solid blue;
}

footer p {
    text-align: centerS;
}